
<div class="box">
    <div class="box-title c">
        <h1> <span>当前界面：社区单位 》社区单位设置 》社区单位类型设置</span> </h1>
        <span style="float:right;padding-right:15px;"> <a class="btn" href="javascript:;" onclick="we.reload();"><i class="fa fa-refresh"></i>刷新</a> </span>
    </div> <!--box-title end-->
    <div class="box-content"> 
        <div class="box-header"> 
            <a class="btn" href="/qmdd2018/index.php?r=clubServicerType/create_sqdw"><i class="fa fa-plus"></i>添加</a> 
            <a style="display:none;" id="j-delete" class="btn" href="javascript:;" onclick="we.dele(we.checkval('.check-item input:checked'), deleteUrl);"><i class="fa fa-trash-o"></i>删除</a>
        </div>
    <!--box-header end--> 
    <div class="box-table">
      <table class="list" style="text-align:left;">
        <thead>
          <tr>
            <th width="20" class="check"><input id="j-checkall" class="input-check" type="checkbox"></th>
            <th width="49" >序号</th>
            <th width="137">会员类型(一级)</th>
            <th width="140">会员类型(二级)</th>
            <th width="129">是否按项目入驻</th>
            <th width="81">入驻方式</th>
            <th width="103">有效期（天）</th>
            <th width="103">到期前通知天数</th>
            <th width="146">操作</th>
          </tr>
        </thead>
        <tbody>   
                        <tr>
                <td class="check check-item"><input class="input-check" type="checkbox" value="210"></td>
                <td><span class="num num-1">1</span></td>
                <td>社区单位</td>
                <td>社区单位</td>
                <td>是</td>
                <td>
                    免费、有偿                </td>
                <td >360</td>
                <td >30</td>
                <td width="200px">
                    <a class="btn" href="/qmdd2018/index.php?r=clubServicerType/update_sqdw&id=210"  title="编辑">编辑</a>                    <a class="btn" href="javascript:;" onclick="we.dele('210', deleteUrl);" title="删除">删除</a>                </td>
            </tr>
                        </tbody>
        </table>
        </div><!--box-table end-->
        <div class="box-page c"></div>
    </div>
  <!--box-content end--> 
</div>
<!--box end--> 
<script>
var deleteUrl = '/qmdd2018/index.php?r=clubServicerType/delete&id=ID';
</script> 
