
<div class="box">
    <span style="float:right;padding-right:15px;">
        <a class="btn" href="javascript:;" onclick="we.reload();">刷新</a>
    </span>
    <div class="box-title c">
    	<h1>
			当前界面：社区单位》社区单位管理》社区单位注销       </h1></div><!--box-title end-->
    <div class="box-content">
        <div class="box-header">
            <a class="btn" onclick="add_member()"><i class="fa fa-plus"></i>注销</a>
            <a style="display:none;" id="j-delete" class="btn" href="javascript:;" onclick="we.dele(we.checkval('.check-item input:checked'), deleteUrl);"><i class="fa fa-trash-o"></i>删除</a>        </div><!--box-header end-->
        <div class="box-search">
            <form action="/qmdd2018/index.php?r=clubList/index_can&club_type=8" method="get">
                <input type="hidden" name="r" value="clubList/index_can">
                <input type="hidden" name="club_type" value="8">
                <label style="margin-right:10px;">
                    <span>操作时间：</span>
                    <input style="width:120px;" class="input-text" type="text" id="start_date" name="start_date" value="2024-02-09">
                    <span>-</span>
                    <input style="width:120px;" class="input-text" type="text" id="end_date" name="end_date" value="2024-02-09">
                </label>
                <label style="margin-right:10px;">
                    <span>关键字：</span>
                    <input style="width:200px;" class="input-text" type="text" name="keywords" value="" placeholder="请输入管理账号/服务平台名称">
                </label>
                <button class="btn btn-blue" type="submit">查询</button>
            </form>
        </div><!--box-search end-->
        <div class="box-table">
            <table class="list">
                <thead>
                    <tr>
                        <th class="check">
                            <input id="j-checkall" class="input-check" type="checkbox">
                        </th>
                        <th>序号</th>
                                                <th>单位账号</th>
                                                <th>服务平台名称</th>
                                                    <th>入驻类型</th>
                                                                            <th>入驻项目数量</th>
                                                <th>注销原因</th>
                        <th>注销时间</th>
                        <th>操作员</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div><!--box-table end-->
        
        <div class="box-page c"></div>
        
    </div><!--box-content end-->
</div><!--box end-->
<script>
var deleteUrl = '/qmdd2018/index.php?r=clubList/delete&id=ID';
$(function(){
    var $lock_date_start=$('#start_date');
    var $lock_date_end=$('#end_date');
    $lock_date_start.on('click', function(){
        WdatePicker({startDate:'%y-%M-%D 00:00:00',dateFmt:'yyyy-MM-dd'});
    });
    $lock_date_end.on('click', function(){
        WdatePicker({startDate:'%y-%M-%D 00:00:00',dateFmt:'yyyy-MM-dd'});
    });
});
</script>
<script>
    var screen = document.documentElement.clientWidth;
    var sc = screen-300;
    var add_html = 
        '<div id="add_format" style="width:'+sc+'px;">'+
            '<form id="add_form" name="add_form">'+
                '<table id="table_tag" style="width:100%;border: solid 1px #d9d9d9;">'+
                    '<thead>'+
                        '<tr class="table-title">'+
                            '<td colspan="8" style="padding: 5px;">单位选择&nbsp;&nbsp;<input type="button" class="btn btn-blue" onclick="add_tag();" value="选择"></td>'+
                        '</tr>'+
                    '</thead>'+
                '</table>'+
            '</form>'+
        '</div>';


	// 选择单位
    var if_data=0;
    function add_tag(){
        $.dialog.data('club_id', 0);
        $.dialog.open('/qmdd2018/index.php?r=select/club&club_type='+8,{
        id:'danwei',
		lock:true,
        opacity:0.3,
		width:'500px',
		height:'100%',
        title:'选择具体内容',		
        close: function () {
            if($.dialog.data('club_id')>0){       
                var content = 
                '<tr style="text-align:center;">'+
                    '<td style="width:100px;border:solid 1px #d9d9d9;">单位管理账号</td>';
					if(8!=380){
                    content+='<td style="width:100px;border:solid 1px #d9d9d9;">单位类型</td>';
					}
                    content+='<td style="width:100px;border:solid 1px #d9d9d9;">服务平台名称</td>'+
                    '<td style="width:100px;border:solid 1px #d9d9d9;">注销原因</td>'+
                '</tr>'+
                '<tr style="text-align:center;" class="add_len">'+
                    '<input id="deal_id" name="deal_id" type="hidden" value="'+$.dialog.data('club_id')+'">'+
                    '<td style="border:solid 1px #d9d9d9;padding:5px;"><input style="border:0;text-align:center;" readonly="readonly" id="deal_code" name="deal_code" type="text" value="'+$.dialog.data('club_code')+'"></td>';
					if(8!=380){
                    	content+='<td style="border:solid 1px #d9d9d9;padding:5px;"><input style="border:0;text-align:center;" readonly="readonly" id="partnership_type" name="partnership_type" type="text" value="'+$.dialog.data('club_typename')+'"></td>';
					}
                    content+='<td style="border:solid 1px #d9d9d9;padding:5px;"><input style="border:0;text-align:center;" readonly="readonly" id="deal_name" name="deal_name" type="text" value="'+$.dialog.data('club_title')+'"></td>'+
                    '<td style="border:solid 1px #d9d9d9;padding:5px;">'+
                        '<input id="user_state" name="user_state" type="hidden" value="649">'+
                        '<textarea class="input-text" id="lock_reason" name="lock_reason"></textarea>'+
                    '</td>'+
                '</tr>';
                $("#table_tag tbody").remove();
                $("#table_tag").append(content);
                if_data=1;
            }
         }
       });
    }
    function add_member(){
        if_data=0;
        var title='';
        if(8==189){
            title='战略伙伴';
        }else if(8==8){
            title='社区单位';
        }
        $.dialog({
            id:'tianjia',
            lock:true,
            opacity:0.3,
            // height: '60%',
            // width:'80%',
            title:title+'注销',
            content:add_html,
            button:[
                {
                    name:'保存',
                    callback:function(){
                        return fn_add_tr();
                    },
                    focus:true
                },
                {
                    name:'取消',
                    callback:function(){
                        return true;
                    }
                }
            ]
        });
        $('.aui_main').css('height','auto');
    }

    function fn_add_tr(){
        if(if_data==0){
            return false;
        }
        var form=$('#add_form').serialize();
        we.loading('show');
        $.ajax({
            type: 'post',
            url: '/qmdd2018/index.php?r=clubList/updata_club',
            data: form,
            dataType: 'json',
            success: function(data) {
                if(data.status==1){
                    we.loading('hide');
                    $.dialog.list['tianjia'].close();
                    we.success(data.msg, data.redirect);
                }else{
                    we.loading('hide');
                    we.msg('minus', data.msg);
                }
            }
        });
        return false;
    }
</script>

<div class="box">
    <span style="float:right;padding-right:15px;">
        <a class="btn" href="javascript:;" onclick="we.reload();">刷新</a>
    </span>
    <div class="box-title c">
    	<h1>
			当前界面：社区单位》社区单位管理》社区单位注销       </h1></div><!--box-title end-->
    <div class="box-content">
        <div class="box-header">
            <a class="btn" onclick="add_member()"><i class="fa fa-plus"></i>注销</a>
            <a style="display:none;" id="j-delete" class="btn" href="javascript:;" onclick="we.dele(we.checkval('.check-item input:checked'), deleteUrl);"><i class="fa fa-trash-o"></i>删除</a>        </div><!--box-header end-->
        <div class="box-search">
            <form action="/qmdd2018/index.php?r=clubList/index_can&club_type=8" method="get">
                <input type="hidden" name="r" value="clubList/index_can">
                <input type="hidden" name="club_type" value="8">
                <label style="margin-right:10px;">
                    <span>操作时间：</span>
                    <input style="width:120px;" class="input-text" type="text" id="start_date" name="start_date" value="2024-02-09">
                    <span>-</span>
                    <input style="width:120px;" class="input-text" type="text" id="end_date" name="end_date" value="2024-02-09">
                </label>
                <label style="margin-right:10px;">
                    <span>关键字：</span>
                    <input style="width:200px;" class="input-text" type="text" name="keywords" value="" placeholder="请输入管理账号/服务平台名称">
                </label>
                <button class="btn btn-blue" type="submit">查询</button>
            </form>
        </div><!--box-search end-->
        <div class="box-table">
            <table class="list">
                <thead>
                    <tr>
                        <th class="check">
                            <input id="j-checkall" class="input-check" type="checkbox">
                        </th>
                        <th>序号</th>
                                                <th>单位账号</th>
                                                <th>服务平台名称</th>
                                                    <th>入驻类型</th>
                                                                            <th>入驻项目数量</th>
                                                <th>注销原因</th>
                        <th>注销时间</th>
                        <th>操作员</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div><!--box-table end-->
        
        <div class="box-page c"></div>
        
    </div><!--box-content end-->
</div><!--box end-->
<script>
var deleteUrl = '/qmdd2018/index.php?r=clubList/delete&id=ID';
$(function(){
    var $lock_date_start=$('#start_date');
    var $lock_date_end=$('#end_date');
    $lock_date_start.on('click', function(){
        WdatePicker({startDate:'%y-%M-%D 00:00:00',dateFmt:'yyyy-MM-dd'});
    });
    $lock_date_end.on('click', function(){
        WdatePicker({startDate:'%y-%M-%D 00:00:00',dateFmt:'yyyy-MM-dd'});
    });
});
</script>
<script>
    var screen = document.documentElement.clientWidth;
    var sc = screen-300;
    var add_html = 
        '<div id="add_format" style="width:'+sc+'px;">'+
            '<form id="add_form" name="add_form">'+
                '<table id="table_tag" style="width:100%;border: solid 1px #d9d9d9;">'+
                    '<thead>'+
                        '<tr class="table-title">'+
                            '<td colspan="8" style="padding: 5px;">单位选择&nbsp;&nbsp;<input type="button" class="btn btn-blue" onclick="add_tag();" value="选择"></td>'+
                        '</tr>'+
                    '</thead>'+
                '</table>'+
            '</form>'+
        '</div>';


	// 选择单位
    var if_data=0;
    function add_tag(){
        $.dialog.data('club_id', 0);
        $.dialog.open('/qmdd2018/index.php?r=select/club&club_type='+8,{
        id:'danwei',
		lock:true,
        opacity:0.3,
		width:'500px',
		height:'100%',
        title:'选择具体内容',		
        close: function () {
            if($.dialog.data('club_id')>0){       
                var content = 
                '<tr style="text-align:center;">'+
                    '<td style="width:100px;border:solid 1px #d9d9d9;">单位管理账号</td>';
					if(8!=380){
                    content+='<td style="width:100px;border:solid 1px #d9d9d9;">单位类型</td>';
					}
                    content+='<td style="width:100px;border:solid 1px #d9d9d9;">服务平台名称</td>'+
                    '<td style="width:100px;border:solid 1px #d9d9d9;">注销原因</td>'+
                '</tr>'+
                '<tr style="text-align:center;" class="add_len">'+
                    '<input id="deal_id" name="deal_id" type="hidden" value="'+$.dialog.data('club_id')+'">'+
                    '<td style="border:solid 1px #d9d9d9;padding:5px;"><input style="border:0;text-align:center;" readonly="readonly" id="deal_code" name="deal_code" type="text" value="'+$.dialog.data('club_code')+'"></td>';
					if(8!=380){
                    	content+='<td style="border:solid 1px #d9d9d9;padding:5px;"><input style="border:0;text-align:center;" readonly="readonly" id="partnership_type" name="partnership_type" type="text" value="'+$.dialog.data('club_typename')+'"></td>';
					}
                    content+='<td style="border:solid 1px #d9d9d9;padding:5px;"><input style="border:0;text-align:center;" readonly="readonly" id="deal_name" name="deal_name" type="text" value="'+$.dialog.data('club_title')+'"></td>'+
                    '<td style="border:solid 1px #d9d9d9;padding:5px;">'+
                        '<input id="user_state" name="user_state" type="hidden" value="649">'+
                        '<textarea class="input-text" id="lock_reason" name="lock_reason"></textarea>'+
                    '</td>'+
                '</tr>';
                $("#table_tag tbody").remove();
                $("#table_tag").append(content);
                if_data=1;
            }
         }
       });
    }
    function add_member(){
        if_data=0;
        var title='';
        if(8==189){
            title='战略伙伴';
        }else if(8==8){
            title='社区单位';
        }
        $.dialog({
            id:'tianjia',
            lock:true,
            opacity:0.3,
            // height: '60%',
            // width:'80%',
            title:title+'注销',
            content:add_html,
            button:[
                {
                    name:'保存',
                    callback:function(){
                        return fn_add_tr();
                    },
                    focus:true
                },
                {
                    name:'取消',
                    callback:function(){
                        return true;
                    }
                }
            ]
        });
        $('.aui_main').css('height','auto');
    }

    function fn_add_tr(){
        if(if_data==0){
            return false;
        }
        var form=$('#add_form').serialize();
        we.loading('show');
        $.ajax({
            type: 'post',
            url: '/qmdd2018/index.php?r=clubList/updata_club',
            data: form,
            dataType: 'json',
            success: function(data) {
                if(data.status==1){
                    we.loading('hide');
                    $.dialog.list['tianjia'].close();
                    we.success(data.msg, data.redirect);
                }else{
                    we.loading('hide');
                    we.msg('minus', data.msg);
                }
            }
        });
        return false;
    }
</script>
