
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-cn"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="zh-cn"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="zh-cn"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="zh-cn"><!--<![endif]-->
<head>
<meta charset="utf-8">
<meta charset="utf-8"><link rel="stylesheet" type="text/css" href="/qmdd2018/static/admin/css/public.css" />
<link rel="stylesheet" type="text/css" href="/qmdd2018/static/admin/css/font.css" />
<link rel="stylesheet" type="text/css" href="/qmdd2018/static/admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="/qmdd2018/static/admin/js/jquery.fallr/jquery.fallr.css" />
<link rel="stylesheet" type="text/css" href="/qmdd2018/static/admin/js/jquery.datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="/qmdd2018/static/admin/js/jquery.uploadifive/uploadifive.css" />
<link rel="stylesheet" type="text/css" href="/qmdd2018/static/admin/js/artDialog/skins/default.css" />
<link rel="stylesheet" type="text/css" href="/qmdd2018/static/admin/js/jquery.contextMenu/jquery.contextMenu.css" />
<script type="text/javascript" src="/qmdd2018/assets/c6aea6c/jquery.min.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/jquery.fallr/jquery.fallr.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/ueditor/ueditor.parse.min.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/jquery.uploadifive/jquery.uploadifive.min.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/artDialog/jquery.artDialog.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/jquery.contextMenu/jquery.ui.position.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/jquery.contextMenu/jquery.contextMenu.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/md5.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/Base64.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/base64_1.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/public.js"></script>
<script type="text/javascript" src="/qmdd2018/static/admin/js/spark-md5.js"></script>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<script charset="gb2312" src="/qmdd2018/static/admin/js/PCASClass.js"></script>
<script>
var baseUrl = '/qmdd2018';
var indexUrl = '/qmdd2018/index.php?r=advertisement/index';
var uppicUrl = '/qmdd2018/index.php?r=public/uppic';
var upfileUrl = '/qmdd2018/index.php?r=public/upfile';
var submitType='tijiao'
</script>
</head>
<body>
<div class="box">
    <div class="box-title c"><h1><i class="fa fa-table"></i>广告列表</h1></div><!--box-title end-->
    <div class="box-content">
    	<div class="box-header">
            <a class="btn" href="/qmdd2018/index.php?r=advertisement/create"><i class="fa fa-plus"></i>添加</a>
            <a class="btn" href="javascript:;" onclick="we.reload();"><i class="fa fa-refresh"></i>刷新</a>
            <a style="display:none;" id="j-delete" class="btn" href="javascript:;" onclick="we.dele(we.checkval('.check-item input:checked'), deleteUrl);"><i class="fa fa-trash-o"></i>删除</a>
        </div><!--box-header end-->
        <div class="box-search">
            <form action="/qmdd2018/index.php?r=advertisement/index" method="get">
                <input type="hidden" name="r" value="advertisement/index">
                <label style="margin-right:20px;">
                    <span>广告类型：</span>
                    <select id="type" name="type">
                        <option value="">请选择</option>
                                                <option value="1">全民动动首页</option>
                                                <option value="2">商城首页广告</option>
                                                <option value="3">龙特权广告</option>
                                                <option value="4">GF视频推荐广告</option>
                                                <option value="5">赛事馆</option>
                                                <option value="6">名牌街</option>
                                                <option value="7">点播视频分类列表</option>
                                                <option value="8">直播视频分类列表</option>
                                                <option value="9">单位首页广告</option>
                                                <option value="10">赛事详细通栏</option>
                                                <option value="16">赛事馆指定商品</option>
                                                <option value="17">赛事增值商品</option>
                                                <option value="18">启动页</option>
                                                <option value="19">插播广告</option>
                                                <option value="20">龙虎认证</option>
                                                <option value="21">推荐</option>
                                                <option value="22">体育</option>
                                                <option value="23">活动</option>
                                                <option value="24">教育</option>
                                                <option value="25">娱乐</option>
                                                <option value="26">其它</option>
                                                <option value="27">科技</option>
                                                <option value="28">财经</option>
                                                <option value="29">文艺</option>
                                                <option value="30">赛事赞助商</option>
                                                <option value="31">动动约</option>
                                                <option value="32"></option>
                                                <option value="33">直播互动广告</option>
                                                <option value="34">赛事平台广告</option>
                                                <option value="35">活动首页广告</option>
                                                <option value="36">培训广告</option>
                                            </select>
                </label>
                <label style="margin-right:10px;">
                    <span>发布单位：</span>
                    <input id="club" style="width:200px;" class="input-text" placeholder="请输入单位名称" type="text" name="club" value="">
                </label>
                <label style="margin-right:20px;">
                    <span>审核状态：</span>
                    <select id="state" name="state">
                        <option value="">请选择</option>
                                                <option value="136">未登记</option>
                                                <option value="371">待审核</option>
                                                <option value="372">审核通过</option>
                                                <option value="373">审核未通过</option>
                                                <option value="374">已撤销</option>
                                                <option value="511">系统审核通过</option>
                                                <option value="721">编辑中</option>
                                                <option value="1329">冻结</option>
                                                <option value="1538">退回修改</option>
                                            </select>
                </label>
                <label style="margin-right:20px;">
                    <span>显示状态：</span>
                    <select id="online" name="online">
                        <option value="">请选择</option>
                        <option value="1">上线</option>
                        <option value="0">下线</option>
                    </select>
                </label>
                <br>
                <label style="margin-right:10px;">
                    <span>上线日期：</span>
                    <input style="width:120px;" class="input-text" type="text" id="start_date" name="start_date" value="">
                    <span>-</span>
                    <input style="width:120px;" class="input-text" type="text" id="end_date" name="end_date" value="">
                </label>
                <label style="margin-right:10px;">
                    <span>关键字：</span>
                    <input style="width:200px;" class="input-text" type="text" placeholder="请输入广告标题 / 广告编码" name="keywords" value="">
                </label>
                <label style="margin-right:10px;">
                    <span>排序：</span>
                    <select id="sorttype" name="sorttype">
                        <option value="">请选择</option>
                        <option value="online">上线先后</option>
                    </select>
                </label>
                <button class="btn btn-blue" type="submit">查询</button>
            </form>
        </div><!--box-search end-->
        <div class="box-table">
            <table class="list">
                <thead>
                    <tr>
                        <th class="check"><input id="j-checkall" class="input-check" type="checkbox"></th>
                        <th>序号</th>
                        <th>封面图</th>
                        <th>标题</th>
                        <th>广告类型</th>
                        <th>上线日期</th>
                        <th>下线日期</th>
                        <th>排序</th>
                        <th>发布单位</th>
                        <th>推荐全部</th>
                        <th>审核状态</th>
                        <th>上线状态</th>
                        <th>操作</th>
    </tr><tbody id="table_html">
    </thead>
                                                            					    </tbody></table>
        </div><!--box-table end-->
        <div class="box-page c"></div>
    </div><!--box-content end-->
</div><!--box end-->
<script>
var deleteUrl = '/qmdd2018/index.php?r=advertisement/delete&id=ID';
</script>
<script>
$(function(){
    var $start_time=$('#start_date');
    var $end_time=$('#end_date');
    $start_time.on('click', function(){
        var end_input=$dp.$('end_date')
        WdatePicker({startDate:'%y-%M-%D 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:false,onpicked:function(){end_input.click();},maxDate:'#F{$dp.$D(\'end_date\')}'});
    });
    $end_time.on('click', function(){
        WdatePicker({startDate:'%y-%M-%D 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:false,minDate:'#F{$dp.$D(\'start_date\')}'});
    });
});
</script></body>
</html>
