
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-cn"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="zh-cn"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="zh-cn"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="zh-cn"><!--<![endif]-->
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">








<script charset="gb2312" src="/qmdd2018/static/admin/js/PCASClass.js"></script>
<script>
var baseUrl = '/qmdd2018';
var indexUrl = '/qmdd2018/index.php?r=gfUser1/index_real_name';
var uppicUrl = '/qmdd2018/index.php?r=public/uppic';
var upfileUrl = '/qmdd2018/index.php?r=public/upfile';
var submitType='tijiao'
</script>
</head>
<body>

<!-- <style>
   *{
        box-sizing: border-box!important;
    }
    i{
        font-size: 10px!important;
    }
    .box,a,button,input,select,span{
        font-size: 10px!important;
        height:auto!important;
        padding: 0.4vw 0.8vw!important;
    }
    h1,h1 span,h1 a,h1 i{
        font-size: 14px!important;
    }
</style> -->
<div class="box">
    <div class="box-title c">
        <h1>
            <span>
              当前界面：会员 》实名管理 》实名会员列表
            </span>
        </h1>
        <span style="float:right;padding-right:15px;">
            <a class="btn" href="javascript:;" onclick="we.reload();"><i class="fa fa-refresh"></i>刷新</a>
        </span>
    </div><!--box-title end-->
    <div class="box-content">
        <div class="box-header">
            <span class="exam" onclick="on_exam();"><p>今日实名：<span style="color:red;font-weight: bold;">0</span></p></span>
            <!-- <a style="display:none;" id="j-delete" class="btn" href="javascript:;" onclick="we.dele(we.checkval('.check-item input:checked'), deleteUrl);"><i class="fa fa-trash-o"></i>删除</a> -->
        </div><!--box-header end-->
        <div class="box-search">
            <form action="/qmdd2018/index.php?r=gfUser1/index_real_name" method="get">
                <input type="hidden" name="r" value="gfUser1/index_real_name">
                <input type="hidden" name="state" id="state" value="">
                <!-- <label style="margin-right:10px;">
                    <span>民族：</span>
                                    </label> -->
                <!-- <label style="margin-right:10px;">
                    <span>地区：</span>
                                        <select name="country" id="country"  onchange="onchangeCountry(this);">
                        <option value tvalue="">请选择</option>
                                                    <option value="" tvalue="" ></option>
                                            </select>
                    <select name="province" id="province" style="display:none;"></select>
                </label> -->
                <label style="margin-right:10px;">
                    <span>实名时间：</span>
                    <input style="width:100px;" class="input-text" type="text" id="valid_date" name="valid_date" value="2024-02-09">
                    <span>-</span>
                    <input style="width:100px;" class="input-text" type="text" id="end_valid_date" name="end_valid_date" value="2024-02-09">
                </label>
                <label style="margin-right:10px;">
                    <span>性别：</span>
                    <select name="real_sex" ><option value="">请选择</option><option value="205">男</option><option value="207">女</option></select>                </label>
                <label style="margin-right:10px;">
                    <span>证件类型：</span>
                    <select name="id_card_type" ><option value="">请选择</option><option value="843">身份证</option><option value="844">户口簿</option><option value="845">港澳通行证</option><option value="846">护照</option></select>                </label>
                <label style="margin-right:10px;">
                    <span>关键字：</span>
                    <input style="width:200px;" class="input-text" type="text" name="keywords" value="" placeholder="账号/昵称/手机号/证件号">
                </label>
                <button id="click_submit" class="btn btn-blue" type="submit">查询</button>
            </form>
        </div><!--box-search end-->
                <div class="box-table">
            <table class="list">
                    <thead>
                        <tr>
                            <th width="3%">序号</th>
                            <th width="8.8%">GF账号</th>
                            <th width="8.8%">昵称</th>
                            <th width="8.8%">姓名</th>
                            <th width="8.8%">性别</th>
                            <th width="8.8%">籍贯/地区</th>
                            <th width="8.8%">绑定手机号</th>
                            <th width="8.8%">账号状态</th>
                            <th width="8.8%">实名证件</th>
                            <!-- <th></th> -->
                            <th width="8.8%">实名时间</th>
                            <th width="8.8%">有效期限</th>
                            <th width="8.8%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                                            </tbody>
            </table>
        </div><!--box-table end-->
        <div class="box-page c"></div>
    </div><!--box-content end-->
</div><!--box end-->
<script>
    // function on_exam(){
    //     if(0>0){
    //         $('#state').val(1);
    //         $('.box-search select').html('<option value>请选择</option>');
    //         $('.box-search .input-text').val('');
    //         document.getElementById('click_submit').click();
    //     }
    // }
    var $valid_date=$('#valid_date');
    var $end_valid_date=$('#end_valid_date');
    $valid_date.on('click', function(){
        WdatePicker({startDate:'%y-%M-%D',dateFmt:'yyyy-MM-dd'});
    });
    $end_valid_date.on('click', function(){
        WdatePicker({startDate:'%y-%M-%D',dateFmt:'yyyy-MM-dd'});
    });

    onchangeCountry($('#country'));
    function onchangeCountry(obj){
        var obj = $('#country option:selected').attr('tvalue');
        var province = $('#province');
        var pr = '';
        var s_html = '<option value>请选择</option>';
        if(obj!=''){
            $.ajax({
                type: 'post',
                url: '/qmdd2018/index.php?r=gfUser1/province&id='+obj,
                dataType: 'json',
                success: function(data){
                    if(data!=''){
                        for(var i=0;i<data.length;i++){
                            s_html += '<option value="'+data[i]['region_name_c']+'" '+((data[i]['region_name_c']==pr) ? 'selected>' : '>')+data[i]['region_name_c']+'</option>';
                        }
                        $('#province').css('display','inline-block');
                    }
                    province.html(s_html);
                }
            })
        }
        else{
            province.html(s_html);
        }
    }

    $("#zsxm").on("click",function(){
        $.dialog.data('GF_ID', 0);
            $.dialog.open('/qmdd2018/index.php?r=select/gfuser&passed=0',{
            id:'zhanghao',
            lock:true,opacity:0.3,
            width:'500px',
            // height:'60%',
            title:'选择未登记账号',
            close: function () {
                if($.dialog.data('GF_ID')>0){
                    window.location.href="/qmdd2018/index.php?r=gfUser1/update_c&passed=372&id="+$.dialog.data('GF_ID');
                }
            }
        })
    })
</script>
</body>
</html>
